Repository JeffKersting/refactor-tractor-whats-cookin, pull requests merged in 2021-01, with the labels that each got.

#26 Ad/feature/ingredient class
  src/recipe.js
  test/ingredient-test.js
  test/recipe-test.js
Labels: Ingredient class, enhancement, testing

#25 Jk/feature/styling
  .DS_Store
  src/.DS_Store
  src/css/_banner.scss
  src/css/_buttons.scss
  src/css/_header.scss
  src/css/_login.scss
  src/css/_normalize.scss
  src/css/_recipe-display.scss
  src/css/_recipe.scss
  src/css/_sidebar.scss
  src/css/_variables.scss
  src/css/index.scss
  src/images/.DS_Store
  src/images/apple-logo-outline.png
  src/images/pot.png
  src/index.html
  src/recipe.js
  src/scripts.js
Labels: DOM-display

#30 Ad/feature/recipe repository
  .eslintrc
  src/ingredient.js
  src/pantry.js
  src/recipe-repository.js
  src/recipe.js
  test/ingredient-test.js
  test/pantry-test.js
  test/recipe-repository-test.js
  test/recipe-test.js
Labels: Pantry class, Recipe Repository, enhancement, refactor

#31 Rewrite basic readme
  README.md
Labels: documentation

#32 Jk/feature/pantry styling
  src/css/_modal.scss
  src/css/_recipe-display.scss
  src/dom-updates.js
  src/index.html
  src/ingredient.js
  src/recipe.js
  src/scripts.js
Labels: Ingredient class, refactor

#34 Tm/feature/test data
  src/user.js
  test/ingredient-test.js
  test/pantry-test.js
  test/recipe-repository-test.js
  test/recipe-test.js
  test/test-data/recipe-test-data.js
  test/test-data/user-test-data.js
  test/user-test.js
Labels: User class, refactor, testing

#42 Ad/refactor/accessibility
  src/css/_recipe-display.scss
  src/dom-updates.js
  src/index.html
Labels: DOM-display, accessibility, documentation, refactor
